#ttt-gameboard {
    gap: 3px;
    height: 400px;
    width: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: maroon;
}

.ttt-gameboard-space {
    background-color: white;
}

.player1-mark {
    background-image: url(/x.svg);
}

.player2-mark {
    background-image: url(/o.svg);
}

.hidden{
    visibility: hidden;
}